/**
 * Theme Name:The Project - Responsive Website Template
 *
 * Author:HtmlCoder
 * Author URI:http://www.htmlcoder.me
 * Author e-mail:htmlcoder.me@gmail.com
 * Version:1.4.0
 * Created:March 2015
 * License URI:http://support.wrapbootstrap.com/
 * File Description:Main CSS file of the template
 *
 * TABLE OF CONTENTS
 * 1) Elements
 * 2) Layout
 * 3) Sections
 * 4) Pages ( blog, about etc )
 * 5) Components
 * 6) Navigations
 * 7) Blocks/Widgets
 * 8) Main Slideshow
 * 9) Owl carousel
 * 10) Full Page
 */
/* 1 Elements
----------------------------------------------------------------------------- */
body.canvas-sliding,
body.canvas-slid {
  overflow-x: hidden;
}

.no-trans * {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Lists
---------------------------------- */
ul {
  list-style: square;
}

.list-icons,
.list {
  list-style: none;
  padding: 0;
}

.list-icons li,
.list li {
  padding: 5px 0;
}

.list-icons li i {
  min-width: 25px;
  text-align: center;
}

.list-inline {
  margin-top: 9px;
  margin-bottom: 8px;
}

.header-top .list-inline {
  display: inline-block;
}

/* Medium desktop devices and tablets */
@media (min-width: 992px) and (max-width: 1199px) {
  .header-top .list-inline > li {
    padding: 0;
  }
}

/* Tables
---------------------------------- */
.table:not(.table-bordered) {
  border-bottom: 2px solid #f3f3f3;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #eaeaea;
  background-color: #eaeaea;
  color: #333333;
  font-weight: 400;
}

.table.table-colored {
  border-bottom-color: #09afdf;
}

.table-colored > thead > tr > th {
  border-color: #09afdf;
  background-color: #09afdf;
  color: #ffffff;
}

tbody {
  background-color: #ffffff;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px 15px;
  border-top: 1px solid #f3f3f3;
}

.table-striped tbody {
  background-color: #ffffff;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f5f5f5;
}

.table-striped.table > tbody > tr > td {
  border-color: #e8e8e8;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border-color: #f3f3f3;
}

.dl-horizontal dd {
  margin-bottom: 10px;
}

.table-hover > tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.dark .table:not(.table-bordered) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.07);
}

.dark .table > tbody {
  background-color: transparent;
}

.dark .table > tbody > tr > td {
  border-top: 1px solid rgba(255, 255, 255, 0.07);
}

.dark .table > thead > tr > th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  background-color: rgba(0, 0, 0, 0.15);
  color: #f1f1f1;
  font-weight: 400;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .dl-horizontal dd {
    margin-left: 150px;
  }

  .dl-horizontal dt {
    max-width: 120px;
  }
}

/* 2 Layout
----------------------------------------------------------------------------- */
.page-wrapper {
  background: burlywood;
}

.header-top:not(.banner) {
    background-color: #cfb53b;
    border-bottom: 1px solid #cfb53b;
    padding: 4px 0;
    color: #fff;
}

.header-top.dark {
  background-color: #2e3537;
  border-bottom: 1px solid #252a2c;
}

.header-top.colored {
  background-color: #09afdf;
  border-bottom: 1px solid #09afdf;
}

.header {
  border-top: 1px solid #ffffff;
  border-bottom: 2px solid #f1f1f1;
  background-color: #fcfcfc;
}

.header.dark {
  background-color: #394245;
  border-top-color: #394245;
  border-bottom: none;
}

.header-top.dark + .header:not(.dark) {
  border-top-color: #dddddd;
}

.header-top:not(.dark) + .header.dark {
  border-top-color: #303030;
}

.header.header-small {
  padding: 10px 0;
}

.dark .footer {
  background-color: #222222;
}

.dark .subfooter {
  background-color: #373737;
  border-color: #454545;
}

/*Transparent Header*/
.transparent-header .header-top {
  z-index: 103;
  position: relative;
}

.transparent-header header.header.transparent-header-on {
  z-index: 22;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.92);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  border-top-color: #a0a0a0;
}

.transparent-header .header-top.colored + header.header.transparent-header-on {
  border-top-color: transparent;
}

.transparent-header header.header.dark.transparent-header-on {
  background-color: rgba(57, 66, 69, 0.8);
  border-top-color: rgba(37, 42, 44, 0.5);
}

.transparent-header.gradient-background-header header.header.transparent-header-on {
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0.05) 85%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0.05) 85%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0.05) 85%, rgba(255, 255, 255, 0) 100%);
  border-bottom: none;
  border-top: none;
}

.transparent-header.gradient-background-header header.header.dark.transparent-header-on {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.05) 85%, transparent 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.05) 85%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.05) 85%, transparent 100%);
  border-bottom: none;
  border-top: none;
}

.header-first {
  padding: 12px 0 0 0;
}

.header-second {
  position: relative;
}

.scroll-spy .banner {
  min-height: 100px;
}

.banner.parallax,
.banner.light-translucent-bg,
.banner.dark-translucent-bg,
.banner.default-translucent-bg {
  min-height: 250px;
  padding-top: 60px;
  padding-bottom: 20px;
}

.banner.banner-big-height {
  min-height: 550px;
  padding-top: 100px;
}

.banner.video-background-banner {
  min-height: 400px;
  padding-top: 100px;
}

.main-container {
  padding: 50px 0;
}

.block {
  margin-bottom: 50px;
}

.section {
  padding: 20px 0;
}

.footer-top {
  padding: 20px 0;
}

.footer {
  padding: 40px 0;
  background-color: #fafafa;
}

.footer-content {
  padding: 20px 0;
}

.subfooter {
  background-color: #f5f5f5;
  padding: 25px 0;
  border-top: 1px solid #eaeaea;
}

.full-page .subfooter {
  background-color: transparent;
  position: fixed;
  border: none;
  color: #bbbbbb;
  width: 100%;
  bottom: 0;
  padding: 15px 0;
}

.full-page .subfooter p a {
  text-decoration: none;
  color: #a1a1a1;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .with-dropdown-buttons .navbar-default .navbar-collapse {
    padding-right: 120px;
  }

  .with-dropdown-buttons .header-dropdown-buttons {
    position: absolute;
    top: 18px;
    right: 0px;
  }
  /*Full width Header*/
  header.full-width .with-dropdown-buttons .header-dropdown-buttons {
    right: 15px;
  }
  /*Centered Logo Layout*/
  .header.centered .header-first {
    padding: 12px 0;
  }

  .header.centered .header-second {
    text-align: center;
  }

  .header.centered .main-navigation .navbar-collapse.collapse {
    display: inline-block !important;
    vertical-align: top;
  }

  .header.centered .with-dropdown-buttons .navbar-default .navbar-collapse {
    padding-right: 0px !important;
  }

  .header.centered .with-dropdown-buttons .header-dropdown-buttons {
    position: relative;
    top: 4px;
    margin-left: 20px;
    float: left;
  }
}

/* Large and Medium devices (desktops, tablets less than 1199px) */
@media (min-width: 768px) and (max-width: 1199px) {
  .main-navigation.with-dropdown-buttons .navbar-default .navbar-collapse {
    padding-right: 110px;
  }
}

/* Medium desktop devices and tablets */
@media (min-width: 768px) and (max-width: 991px) {
  header.full-width .main-navigation.with-dropdown-buttons .navbar-default .navbar-collapse {
    padding-right: 15px;
  }
}

/* Medium devices (desktops, tablets less than 991px) */
@media (max-width: 991px) {
  .sidebar {
    margin-top: 40px;
  }

  .footer-content {
    padding: 10px 0;
  }
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width: 767px) {
  .header-first .header-dropdown-buttons {
    position: absolute;
    top: 22px;
    right: 15px;
  }
  /*Transparent Header*/
  .transparent-header .header-first {
    padding: 12px 0 12px;
  }

  .transparent-header .header-first.visible-xs {
    padding: 10px 0 3px;
  }

  .transparent-header .header-second {
    z-index: 21;
  }
  /*Full width Header*/
  .header.full-width {
    padding: 0 15px;
  }

  .header.full-width .header-first {
    padding: 8px 0 0;
  }
}


/*# sourceMappingURL=style.css.map */
